/* Resources Page */
/* Section 1 */
.initial-landing-resources {
  background-image: url("/assets/images/resources/resources-background.webp");
  background-position: center;
  background-size: cover;
}

