/* Wardrobe Doors Page */
/* Section 1 */
.initial-landing-wardrobe-doors {
  background-image: url("/assets/images/wardrobe-doors/wardrobe-landing-img.webp");
  background-position: center;
  background-size: cover;
}

/* Section 3 */
.section-3-wardrobe-doors span,
.section-3-room-dividers span {
  font-weight: bold;
}

.section-2-wardrobe h1, .section-2-wardrobe h2  {
  max-width: 47%;
}

.section-3-wardrobe p {
  max-width: 750px !important;
}

.section-4-wardrobe{
  background-color: #939393;
}

.section-4-wardrobe .steel-bipass-title{
  border-bottom: 1px solid #CCCCCC; 
  max-width: 850px;
}
.section-4-wardrobe .steel-bipass-first-features {
  margin-left: 11%;
}
.section-4-wardrobe .steel-bipass-second-features {
  margin-left: 11%;
}
.section-5-wardrobe .aluminum-bipass-first-features {
  margin-left: 11%;
}
.section-5-wardrobe .aluminum-bipass-second-features {
  margin-left: 11%;
}
.section-6-wardrobe {
  background-color: #939393;
}
.section-6-wardrobe hr{
  max-width: 900px;
  position: relative; 
  right: 7%;
}
.section-6-wardrobe .contemporary-description{
  max-width: 60%;
}
.section-7-wardrobe .aluminum-framed-intro{
  max-width: 750px !important;
}
.section-7-wardrobe .aluminum-framed-features{
  margin-left: 11%;
}









